<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">789633221</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test?user=root</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.default_schema">test</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
  <mapping class="com.logos.java.entity.User" resource="com/logos/java/entity/User.hbm.xml"/>
  <mapping class="com.logos.java.entity.Basket" resource="com/logos/java/entity/Basket.hbm.xml"/>
  <mapping class="com.logos.java.entity.Order" resource="com/logos/java/entity/Order.hbm.xml"/>
  <mapping class="com.logos.java.entity.Article" resource="com/logos/java/entity/Article.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
